@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select,
button {
  outline: none;
}

@layer components {
  .display-large {
    font-size: 2.5rem; /* 40px */
    font-weight: 500;
    line-height: 3rem; /* 48px */
  }

  .display-medium {
    font-size: 2.125rem; /* 34px */
    font-weight: 500;
    line-height: 2.625rem; /* 42px */
  }

  .display-small {
    font-size: 1.75rem; /* 28px */
    font-weight: 500;
    line-height: 2.25rem; /* 36px */
  }

  .title-large {
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
    line-height: 1.75rem; /* 28px */
  }

  .title-medium {
    font-size: 1.125rem; /* 18px */
    font-weight: 500;
    line-height: 1.625rem; /* 26px */
  }

  .title-small {
    /* 16px */
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem; /* 24px */
  }

  .body-large {
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    line-height: 1.25rem; /* 20px */
  }

  .body-medium {
    font-size: 0.8125rem; /* 13px */
    font-weight: 500;
    line-height: 1.125rem; /* 18px */
  }

  .body-small {
    font-size: 0.75rem; /* 12px */
    font-weight: 500;
    line-height: 1rem; /* 16px */
  }
}

.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  @apply h-3 w-3 bg-white;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full border border-solid border-transparent bg-gray-700 bg-clip-content;
}

.scrollbar::-webkit-scrollbar:vertical {
  @apply border-0 border-l border-solid border-l-gray-300;
}

.scrollbar::-webkit-scrollbar:horizontal {
  @apply border-0 border-t border-solid border-t-gray-300;
}
